<ion-tabs selectedIndex="0">

  <!-- <ion-fab bottom center class="bottom-up">
   <button ion-fab  > <ion-icon name="add"></ion-icon></button>
   
 </ion-fab> -->
  <ion-tab [root]="homepage" tabIcon="home" tabBadgeStyle="danger" tabBadge="{{getUnreadMessagesCount()}}"></ion-tab>
  <ion-tab [root]="friends" tabIcon="chatbubbles" tabBadgeStyle="danger" tabBadge=""></ion-tab>
  <ion-tab [root]="groups" tabIcon="people" tabBadgeStyle="danger" tabBadge=""></ion-tab>
  <ion-tab [root]="profile" tabIcon="contact" ></ion-tab>
</ion-tabs>