<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>News & Events</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-item text-wrap *ngFor="let post of posts" (click)="itemTapped(post)">
			<h2>{{post.title}}</h2>
			<p class="as-note"><ion-icon name="clock"></ion-icon> {{post.createdOn | stringToDate | date : 'short'}}
	 		</p>
			<ion-thumbnail item-left>
				<img class="as-thumb"  src="https://scontent.xx.fbcdn.net/v/t1.0-0/p480x480/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=0&oh=81c94cf3a96646c6ca9ff0c3062d9c94&oe=5B96F752"/>
			</ion-thumbnail>
			<p>{{post.description | truncate : 140}}</p>
			<p *ngIf="!post.description">{{post.description}}</p>
		</ion-item>
	</ion-list>
</ion-content>
