<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()">logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="user">
    <div class="top">
        <img src="{{user.img}}" tappable (click)="setPhoto()">
        <h3 tappable (click)="setName()">{{user.name}}</h3>
        <p tappable (click)="setUsername()" >@{{user.username}}</p>
        <p tappable (click)="setDescription()">{{user.description}}</p>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Show Online</ion-label>
        <ion-toggle item-right [(ngModel)]="showOnline" (ionChange)="changeStatus()"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Enable Notification</ion-label>
        <ion-toggle item-right [(ngModel)]="isPushEnabled" [disabled]="isBrowser" (ionChange)="changeNotification()"></ion-toggle>
      </ion-item>
      <ion-item (click)="showBlockedList()">
        <h2>Blocked List</h2>
        <ion-icon item-right name="arrow-forward"></ion-icon>
      </ion-item>
      <ion-item tappable (click)="setEmail()">
        Change Email Address
      </ion-item>
      <ion-item tappable (click)="setPassword()" *ngIf="user && user.provider == 'Firebase'">
        Change Password
      </ion-item>
      <ion-item tappable (click)="deleteAccount()">
        Delete Account
      </ion-item>
    </ion-list>
  </div>
</ion-content>
