<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Contact Us</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="contact-us">
	<div class="picture-box">
		<img src="{{coverPicture}}"/>

		<div class="title-wrap" text-wrap>
			<h1>{{name}}</h1>
			<div *ngIf="address">{{address}}</div>
		</div>
	</div>
	<div padding>
		<h3>Introduction</h3>
		<p>{{description}}</p>
	</div>
</ion-content>
