.contact-us {
	.picture-box {
		position: relative;

		.title-wrap {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			border: 0;
			background: rgba(255, 255, 255, 0.6);
			padding: 10px;
		}

		h1 {
			margin-top: 0;
		}
	}

	.slot {
		height: 24px;
		padding-top: 2px;
		padding-left: 0px;
		padding-right: 10px;
		font-size: 14px;
		line-height: 16px;
		vertical-align: middle;
		margin-top: 4px;
		color: #aaaaaa;
	}
}