<ion-header hidden>
	<ion-navbar class="change-background">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<!--<ion-title>Home</ion-title>-->
	</ion-navbar>
</ion-header>
<div>
	<button ion-button menuToggle class="home-toogle">
		<ion-icon name="menu"></ion-icon>
	</button>
</div>

<ion-content class="getting-started">
	<!-- <div text-center>
		<img *ngIf="data.cover" src="{{data.cover.source}}"/>
	</div>
	<div padding>
		<h1>{{data.name}}</h1>
		<p>{{data.address}}</p>
		<p>
			<ion-icon name="ios-clock-outline"></ion-icon>
			<span class="{{data.isOpen ? 'open' : 'close'}}">{{data.isOpen ? 'Open now' : 'Closed now'}}</span>
		</p>
		<button *ngIf="data?.callToActions" ion-button block (click)="callToAction()">{{friendlyActions[data.callToActions.web_destination_type]}}</button>
	</div> -->
	<div class="home-hello">
		<img *ngIf="this.data.hasOwnProperty('cover')" src="{{this.data.cover.source}}" style="    width: 100%;
    height: 100%;"/>

		<div class="hello-title" text-wrap *ngIf="groups.length != 0">
			<!-- <h1>{{this.data.name}}</h1>
			
			{{this.data.address}} -->

				<ion-card class="tiless"  style="    margin-top: 11px;" *ngFor="let group of groups " (click)="viewGroup(group.key)">
					<ion-card-content text-center>

						<h1>
							<!-- <img src="{{this.data.cover.source}}" style="    height: 50px;"> -->
								<ion-icon name="contact" style="color: #387df6;  font-size: 1.8em;"></ion-icon>
							<!--<img src="{{group.img}}" style="color: #387df6;  font-size: 1.8em;    width: 85%;-->
     <!--border: #233131 solid 1px;-->
     <!--height: 20%;-->
    <!--border-radius: 50%;">-->
						<!--<ion-badge item-right color="danger" *ngIf="group.unreadMessagesCount > 0">{{group.unreadMessagesCount}}</ion-badge>-->

						</h1>
						<p style="color: #ccc;font-size: 1.2rem;">{{group.name}}</p>
					</ion-card-content>
				</ion-card>
				<!--<ion-card class="tiless" >-->
					<!--<ion-card-content text-center>-->

						<!--<h1>-->
							<!--<ion-icon name="contact" style="color: #387df6;  font-size: 1.8em;"></ion-icon>-->
						<!--</h1>-->
						<!--<p style="color: #ccc;font-size: 1.2rem;" > Developers</p>-->

					<!--</ion-card-content>-->
				<!--</ion-card>-->
				<!-- <ion-card class="tiless" (click)="navigateTo(tile)" >
					<ion-card-content text-center>

						<h1>
							<ion-icon [name]="compass"></ion-icon>
						</h1>
						<h2>hbhnj</h2>

					</ion-card-content>
				</ion-card>
				<ion-card class="tiless" (click)="navigateTo(tile)" >
					<ion-card-content text-center>

						<h1>
							<ion-icon [name]="compass"></ion-icon>
						</h1>
						<h2>hbhnj</h2>

					</ion-card-content>
				</ion-card> -->
				
			
		</div>
	</div>

	 <!-- <flash-card>
 
        <div class="flash-card-front">FLASH CARDS</div>
 
        <div class="flash-card-back">ARE COOL!</div>
 
    </flash-card> -->

	<ion-grid no-margin class="paddingTop">
		<ion-row *ngFor="let tilePair of tiles" class="row-card">
			
			<ion-col col-6 *ngFor="let tile of tilePair;let i=index " class = "horizontal" >
				<ion-card class="tile background-image " (click)="navigateTo(tile)" 
				   >
					<!--[ngStyle]="{'background-image': 'url(' + tile.image + ')'}"-->
					<ion-card-content text-center class=" large-card"> 
                        <!-- <img [src]="tile.image"> -->
						 <h1>
							<ion-icon [name]="tile.icon"></ion-icon>
						</h1>
						<h2>{{tile.title}}</h2>

					</ion-card-content>
				</ion-card>
				
			</ion-col>
		</ion-row>
		
	</ion-grid>



		<!-- <ion-card-header>
			Stay in touch
		</ion-card-header>
<ion-row> 
		<ion-card class="quick-action" (click)="callUs()">
			<ion-card-content>
				<ion-icon name="phone-portrait"></ion-icon>
				<span>Call us</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="sendEmail()">
			<ion-card-content>
				<ion-icon name="mail"></ion-icon>
				<span>Send us an Email</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="getDirections()">
			<ion-card-content>
				<ion-icon name="compass"></ion-icon>
				<span>Find us / Get directions</span>
			</ion-card-content>
		</ion-card>
	</ion-row>

	<ion-row>
		<ion-card class="quick-action" (click)="showMore()">
			<ion-card-content>
				<ion-icon name="information-circle" item-left></ion-icon>
				<span>About us</span>
			</ion-card-content>
		</ion-card>
	</ion-row>-->
</ion-content>
