.getting-started {
	background-color: #fff;
	.home-hello {
		position: relative;
		    height: 52%;

		.hello-title {
		    position: absolute;
			left: 3%;
			right: 3%;
			top: 82%;
			margin: 0;
			border: 0;
			background: #fff;
			padding: 4px;
			border: #ddd solid 1px;
			-webkit-box-shadow: 0px 2px #efecec;
			box-shadow: 0px 2px #efecec;
			border-radius: 2px;
			height: 34%;
		}

		h1 {
			margin-top: 0;
		}
	}
		.open {
			color: map-get($colors, secondary);
			font-weight: 500;
		}

		.close {
			color: map-get($colors, danger);
			font-weight: 500;
		}

		.quick-action {
			width: 100%;
			ion-icon {
				font-size: 2em;
				width: 20px;
			}
			span {
				font-size: 1.6rem;
				padding-left: 10px;
				padding-top: -3px;
				vertical-align: text-bottom;
			}
	}

	.paddingTop{
		padding-top: 16%;
	    background-color: #f9f7f7;
	}
	.row-card{
        //width: 95%;
		//margin-left: 2.5%;
		//background-color: #fff;
		padding: 5px;
		//box-shadow: 1px 2px 2px 2px #efecec;
	}

	.card-ios {
	    margin: 0px;
	    border-radius: 5px;
		width: calc(100% ); 
		font-size: 1.4rem;
		background: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		 height:120px
    }

	.tiless{
		width: 25%;
		float: left;
		margin:0px !important;
		height:100%;  
		box-shadow: none !important;
		margin-top: 14px;
	}

	.large-card{
		margin-top: 44px;
	    height: 100px;
	}

	.card-content-ios {
		padding: 5px ;
		font-size: 1.4rem;
		line-height: 1.4;
		/* margin-top: 44px; */
	}
	.background-image{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}






// 	.flip-container {
//     -webkit-perspective: 1000;
   
    
// }

// .flip-container.vertical:hover .flipper {
//     -webkit-transform: rotateX(180deg);
// }
// .flip-container.horizontal:hover .flipper {
//     -webkit-transform: rotateY(180deg);
// }

// .flipper {    
//     -webkit-transition: 0.6s;
//     -webkit-transform-style: preserve-3d;
//     position: relative;
// }
// .flip-container.vertical .flipper {
//     -webkit-transform-origin: 50% 100px;    
// }

// .front, .back {
//     -webkit-backface-visibility: hidden;
//     position: absolute;
//      left: 0;
// }


// .front {
// 	z-index: 1;
// 	top: 0px;
//     // background: #3498db;
// }

// .flip-container, .front, .back {
   
//     height: 150px;
//     text-align: center;
// 	line-height: 200px;
// 	padding:10px
// }

// .back {    
// 	background: #fff;
// 	top: 13px;
// }

// .flip-container.horizontal .back {
//     -webkit-transform: rotateY(180deg);
// }
// .flip-container.vertical .back {
//     -webkit-transform: rotateX(180deg);
// }


}

.home-toogle
{
	color: #fff !important;
	font-size: 2.5rem;
	z-index: 99;
	background: transparent !important;
	padding: 14px;
	margin-top: 0px;
}

