<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Maps</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<agm-map *ngIf="origin" style="width: 100%; height: 100%;"
		[latitude]="origin.lat"
		[longitude]="origin.lng"
		[zoom]="zoom">
		<agm-marker
			*ngFor="let m of markers"
			[latitude]="m.lat"
			[longitude]="m.lng"
			[label]="m.label"></agm-marker>
	</agm-map>
</ion-content>