page-friends {

  .segment-ios .segment-button.segment-activated {
    background: #233131 !important;
    color: #fff !important;
    font-size: 11px;
  }
  .segment-ios .segment-button {
    border-color:#233131 !important;
    color: #233131 !important;
    font-size: 11px;
  }
  ion-item span {
    color: #b3b3b3;
    font-size: 75%;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0.75em;
    padding-top: 0.75em;
  }

  .item-ios .item-button {
     padding: 0 1.5em;
    height: 24px;
    font-size: 1.3rem;
  }
}