<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-segment padding [(ngModel)]="tab" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="recent">
        RECENT CHAT
      </ion-segment-button>
      <ion-segment-button value="friends">
        FRIENDS
      </ion-segment-button>
      <ion-segment-button value="requests">
        REQUESTS <span *ngIf="friendRequestCount != 0">({{friendRequestCount}})</span>
      </ion-segment-button>
      <ion-segment-button value="search">
        FIND NEW
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'recent'">
          <!-- No friends to show -->
        <div class="empty-list" *ngIf="conversations && conversations.length <= 0">
          <h1><ion-icon name="text"></ion-icon></h1>
          <p>No new conversation yet.</p>
        </div>
        <!-- Show conversations -->
        <ion-list class="avatar-list" *ngIf="conversations && conversations.length > 0">
          <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
          <div *ngFor="let conversation of conversations | conversationFilter:searchFriend">
            <ion-item  *ngIf="conversation.blocked != true" no-lines tappable (click)="message(conversation.key)">

              <ion-avatar item-left *ngIf="conversation.friend">
                <img src="{{conversation.friend.img}}">
              </ion-avatar>
              <div [ngClass]=hasUnreadMessages(conversation)>
                <h2 *ngIf="conversation.friend">{{conversation.friend.name}}</h2>
                <ion-badge color="danger" *ngIf="conversation.unreadMessagesCount > 0">{{conversation.unreadMessagesCount}}</ion-badge>
                <p>{{conversation.message}}</p>
                <span>{{conversation.date | DateFormat}}</span>
              </div>

            </ion-item>
          </div>
        </ion-list>
      </div>

      <div *ngSwitchCase="'friends'">
        <!-- No friends to show -->
        <div class="empty-list" *ngIf="friends && friends.length == 0">
          <h1><ion-icon name="contacts"></ion-icon></h1>
          <p>You don't have new friend yet</p>
        </div>
        <!-- Show list of friends -->
        <ion-list class="avatar-list" *ngIf="friends && friends.length > 0">
          <!-- <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar> -->
          <ion-item *ngFor="let friend of friends | friendFilter:searchFriend" no-lines (click)="message(friend.$key); $event.stopPropagation();">
            <ion-avatar item-left>
              <img src="{{friend.img}}">
            </ion-avatar>
            <ion-note item-right *ngIf="friend.online == true">online</ion-note>
            <h2>{{friend.name}}</h2>
            <p>{{friend.description}}</p>
          </ion-item>
        </ion-list>
      </div>


      <div *ngSwitchCase="'requests'">
          <!-- No friend requests sent or received. -->
        <div class="empty-list" *ngIf="(friendRequests && friendRequests.length == 0) && (requestsSent && requestsSent.length == 0)">
            <h1><ion-icon name="md-filing"></ion-icon></h1>
            <p>No New Requests</p>
          </div>
          <!-- Show friend requests received. -->
          <ion-list class="avatar-list" *ngIf="friendRequests && friendRequests.length > 0">
            <ion-item *ngFor="let friendRequest of friendRequests" no-lines tappable (click)="viewUser(friendRequest.$key)">
              <button item-right mini tappable (click)="acceptFriendRequest(friendRequest); $event.stopPropagation();">
                <ion-icon name="md-checkmark-circle" class="success"></ion-icon>
              </button>
              <ion-avatar item-left>
                <img src="{{friendRequest.img}}">
              </ion-avatar>
              <h2>{{friendRequest.name}}</h2>
              <p>has sent you a friend request.</p>
            </ion-item>
          </ion-list>
          <!-- Show friend requests sent. -->
          <ion-list class="avatar-list" *ngIf="requestsSent && requestsSent.length > 0">
            <ion-item *ngFor="let requestSent of requestsSent" no-lines tappable (click)="viewUser(requestSent.$key)">
              <button item-right mini tappable (click)="cancelFriendRequest(requestSent); $event.stopPropagation();">
                <ion-icon name="md-close-circle" class="danger"></ion-icon>
              </button>
              <ion-avatar item-left>
                <img src="{{requestSent.img}}">
              </ion-avatar>
              <h2>{{requestSent.name}}</h2>
              <p>friend request sent.</p>
            </ion-item>
          </ion-list>
      </div>

      <div *ngSwitchCase="'search'">
        <!-- No other users to send friend request right now. -->
        <div class="empty-list" *ngIf="accounts && (accounts.length == 0 || (accounts.length == excludedIds.length))">
            <h1><ion-icon name="md-search"></ion-icon></h1>
            <p>We can't find new users right now</p>
          </div>
          <!-- Show other users excluding yourself, and friends with the help of searchFilter pipe. -->
          <ion-list class="avatar-list" *ngIf="accounts && accounts.length > 0">
            <ion-searchbar *ngIf="accounts.length != excludedIds.length" [(ngModel)]="searchUser" placeholder="Search for name or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
            <ion-item *ngFor="let account of accounts | searchFilter: [excludedIds, searchUser]" no-lines tappable (click)="viewUser(account.$key)">
              <div item-right>
                <!-- Show appropriate buttons depending on the status of this user in relation to the current user. -->
                <!-- // Returns:
                // 0 when user can be requested as friend.
                // 1 when a friend request was already sent to this user.
                // 2 when this user has a pending friend request. -->
                <button ion-button clear tappable (click)="sendFriendRequest(account); $event.stopPropagation();" *ngIf="getStatus(account) == 0">
                  <ion-icon name="md-add-circle" class="success"></ion-icon>
                </button>
                <button ion-button clear tappable (click)="cancelFriendRequest(account); $event.stopPropagation();" *ngIf="getStatus(account) == 1">
                  <ion-icon name="md-close-circle" class="danger"></ion-icon>
                </button>
                <button ion-button clear tappable (click)="acceptFriendRequest(account); $event.stopPropagation();" *ngIf="getStatus(account) == 2">
                  <ion-icon name="md-checkmark-circle" class="success"></ion-icon>
                </button>
              </div>
              <ion-avatar item-left>
                <img src="{{account.img}}">
              </ion-avatar>
              <h2>{{account.name}}</h2>
              <p>@{{account.username}}</p>
            </ion-item>
          </ion-list>
      </div>
    </div>

</ion-content>