<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Events</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }} </h3>
	<ion-grid>
		<ion-row>
			<ion-col>
				<button ion-button small full
					mwlCalendarPreviousView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="viewDateChange(viewDate)">
					Prev
				</button>
			</ion-col>
			<ion-col>
				<button ion-button small full color="light"
					mwlCalendarToday
					[(viewDate)]="viewDate"
					(viewDateChange)="viewDateChange(viewDate)">
					Today
				</button>
			</ion-col>
			<ion-col>
				<button ion-button small full
					mwlCalendarNextView
					[view]="view"
					[(viewDate)]="viewDate"
					(viewDateChange)="viewDateChange(viewDate)">
					Next
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<mwl-calendar-month-view
		[viewDate]="viewDate"
		[events]="eventt"
		[activeDayIsOpen]="activeDayIsOpen"
		[refresh]="refresh"
		(dayClicked)="dayClicked($event.day)">
	</mwl-calendar-month-view>

</ion-content>
