<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
    <ion-title>Recent Chats</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- No conversations to show -->
  <div class="empty-list" *ngIf="conversations && conversations.length <= 0">
    <h1><ion-icon name="text"></ion-icon></h1>
    <p>No new conversation yet.</p>
  </div>
  <!-- Show conversations -->
  <ion-list class="avatar-list" *ngIf="conversations && conversations.length > 0">
    <ion-searchbar [(ngModel)]="searchFriend" placeholder="Search for friend or username" showCancelButton="true" cancelButtonText="Done"></ion-searchbar>
    <div *ngFor="let conversation of conversations | conversationFilter:searchFriend">
    <ion-item  *ngIf="conversation.blocked != true" no-lines tappable (click)="message(conversation.key)">
      
      <ion-avatar item-left *ngIf="conversation.friend">
        <img src="{{conversation.friend.img}}">
      </ion-avatar>
      <div [ngClass]=hasUnreadMessages(conversation)>
        <h2 *ngIf="conversation.friend">{{conversation.friend.name}}</h2>
        <ion-badge color="danger" *ngIf="conversation.unreadMessagesCount > 0">{{conversation.unreadMessagesCount}}</ion-badge>
        <p>{{conversation.message}}</p>
        <span>{{conversation.date | DateFormat}}</span>
      </div>
    
    </ion-item>
    </div>
  </ion-list>
</ion-content>
